<div class="modal-header modal-header-default">
	<h3 class="modal-title">Cartas en el cementerio</h3>
</div>

<div class="modal-body">
	<div class="col-xs-12">
		<div ng-repeat="item in cementerio | orderBy: 'nombre' track by $index" class="col-xs-3">
			<img ng-src="{{item.url}}">
			<p>{{item.nombre}}</p>
			<button class="btn btn-danger" ng-click="a(item, cementerio, enJuego)">Al juego</button>
			<button class="btn btn-danger" ng-click="a(item, cementerio, mano)">A la mano</button>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-danger" ng-click="closeModal()">Cerrar</button>
</div>

