<div id="list" class="row" id="main-app">
	<div class="col-sm-12">
		<div class="col-xs-12">
			<div class="col-xs-3">
				<button class="btn btn-success" ng-click="inicio()">Iniciar</button>
				<button class="btn btn-info" ng-if="mazoBarajado.length > 0" ng-click="mazoCementerio(mazoBarajado, cementerio)">Exiliar1ªmazo</button>
				<button class="btn btn-info" ng-if="mano.length > 0" ng-click="desRobo(mano, mazoBarajado)">Des robar</button>
				<button class="btn btn-info" ng-if="cementerio.length > 0" ng-click="desCemen(mazoBarajado, cementerio)">Des cemen</button>
				<button class="btn btn-info" ng-if="mano.length > 0" ng-click="manoC(mano, cementerio)">Carta azar m>c</button>
				<button class="btn btn-info" ng-if="mazoBarajado.length > 0" ng-click="barajar()">Barajar</button>
				<button class="btn btn-info" ng-if="!busB && mazoBarajado.length > 0" ng-click="buscar()">Buscar mazo</button>
				<select ng-options="item as item.nombre for item in mazoBarajado track by item.id"
						ng-value="{{$index}}"
						ng-show="busB"
						class="form-control"
						ng-model="busM">
				</select>
				<button class="btn btn-info" ng-show="busB" ng-click="busJ(busM, mazoBarajado , enJuego)">Poner en juego</button>
				<button class="btn btn-info" ng-show="busB" ng-click="busMa(busM, mazoBarajado , mano)" ng-disabled="!busM">Poner en mano</button>
				<img ng-if="mazoBarajado.length > 0" class="mazo" ng-src="img/62.png" ng-click="robar(mazoBarajado, mano)">
				
			</div>
			<div class="col-xs-8">
				<div class="col-xs-3" ng-repeat="item in enJuego track by $index">
					<img class="mazo" ng-click="verCarta(item)" ng-src="{{item.url}}">
					<button class="btn btn-danger" ng-click="retMano(item, enJuego, mano)">Mano</button>
					<button class="btn btn-danger" ng-click="retCem(item, enJuego, cementerio)">Cementerio</button>
					<button class="btn btn-danger" ng-click="tierra(item, enJuego, enJuegoT)">Tierra</button>
					<button ng-if="item.tap" class="btn btn-danger" ng-click="usada(item)">N-tap</button>
					<button ng-if="!item.tap" class="btn btn-success" ng-click="usada(item)">Tap</button>
				</div>
			</div>
			
			<div class="col-xs-1">
				<label title="Mazo">{{mazoBarajado.length}}</label>
				<label title="Mano">{{mano.length}}</label>
				<label title="Cementerio">{{cementerio.length}}</label>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-xs-3">
			<img class="carta" ng-src="{{cementerio[0].url}}" ng-click="verCementerio(cementerio, enJuego, mano)">
		</div>

<!--		<uib-carousel class="col-xs-3" active="active">-->
<!--			<uib-slide class="mazo" ng-repeat="item.url in cementerio">-->
<!--			</uib-slide>-->
<!--		</uib-carousel>-->
		<div class="col-xs-6">
			<div class="col-xs-3" ng-repeat="item in enJuegoT track by $index">
				<img class="carta" ng-click="verCarta(item)" ng-src="{{item.url}}">
				<button class="btn btn-danger" ng-click="retManoT(item, enJuegoT, mano)">Mano</button>
				<button class="btn btn-danger" ng-click="retCemT(item, enJuegoT, cementerio)">Cementerio</button>
				<button ng-if="item.tap" class="btn btn-danger" ng-click="usada(item)">N-tap</button>
				<button ng-if="!item.tap" class="btn btn-success" ng-click="usada(item)">Tap</button>
			</div>
		</div>
		<div class="col-xs-3">
			<img class="carta" ng-click="verMano(mano, enJuego, enJuegoT, cementerio)" ng-src="img/62.png">
		</div>
	<!--
	<div class="col-sm-3">
		<div class="background col-xs-12 col-sm-10 col-sm-offset-1">
			<h2><i class="fa fa-line-chart"></i> Top Five</h2>
			<div ng-repeat="item in list | filter: filter | limitTo: 5" class="animate col-xs-12 col-sm-12">
				<h6>{{item.name}} ({{item.experience}})</h6> 
				<h6><img ng-if="!item.user.personal.gender" src="css/img/mujer.png"><img ng-if="item.user.personal.gender" src="css/img/hombre.png"> {{item.user.personal.name}}</h6>
			</div>
		</div>
	</div>
	-->
</div>
